<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Concussion App 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BD5FDFB1C7121D500ACC1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD5FE131C7121D600ACC1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD5FE1E1C7121D600ACC1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
